<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182459417490-0om0mubnrttsq4cllo785p5sagg8t9ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182459417490-0om0mubnrttsq4cllo785p5sagg8t9ui</string>
	<key>API_KEY</key>
	<string>AIzaSyAtPvzpSqP_H9fwmqwry57Qt8ZVndmVGhE</string>
	<key>GCM_SENDER_ID</key>
	<string>182459417490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handfinance</string>
	<key>PROJECT_ID</key>
	<string>hand-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>hand-finance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182459417490:ios:e46ad892dd24dc5043374b</string>
</dict>
</plist>